.reply {
padding: 3em 6%;
max-width: 1200px;
margin: 0 auto;
	@media (max-width: 768px) {padding-top: 1em; padding-bottom: 1em;}
	h3 {
	font-size: 1.45em;
    font-weight: 500;
	@media (max-width: 768px) {margin: 0;}
	}
}

/* Comment form */
.comment-form {
display: flex;
align-items: flex-start;
flex-wrap: wrap;
justify-content: space-between;
/* Text inputs */
	input {
	width: 100%;
	font-size: 1.03em;
	line-height: 2em;
	border-bottom: 1px solid $portfolio_bg;
	@extend %form_element;
	}
	label {
	flex-basis: 30%;
	position: relative;
	margin-bottom: 2.6em;
	@media (max-width: 680px) {flex-basis: 100%;}
		&::after {
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 48px;
		height: 1px;
		background: $orange;
		transition: width .25s ease-in-out;
		}
	}
/* Textarea */
	textarea {
	resize: vertical;
	min-height: 38px * 3;
	font-size: 1.03em;
	margin: 1.8em 0 3em;
	width: 100%;
	@extend %form_element;
	@include textarea;
		 @media (max-width:1400px) {@include textarea(38px);}
	}
/* Submit button */
	.submit {
	text-transform: capitalize;
	font-size: 1em;
	color: $orange;
	margin-left: auto;
	padding: 0.6em 1.8em;
	@include submitEffect;
	@extend %pointer;
	@extend %form_element;
		@media (max-width: 680px) {
		margin-right: auto;
		width: 100%;
		}
	}
	::-webkit-input-placeholder {color:$dark;}
	:-moz-placeholder {color:$dark;}
	::-moz-placeholder {color:$dark;}
	:-ms-input-placeholder {color:$dark;}
	::placeholder {color:$dark;}
}