%comment-alignment {
display: table-cell;
vertical-align: top;
}

.comments {
background: $portfolio_bg;
position: relative;
padding-top: 40px;
padding-bottom: 40px;
	&:before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 40px 40px 0 0;
	border-color: $white transparent transparent transparent;
	position: absolute;
	top: 0;
	right: 100px;
	}
}

.comment {
margin: 30px 0;
	img {
	width: 68px;
    height: 68px;
    object-fit: cover;
	position: relative;
	z-index: 1;
	@extend %rounded;
		@media (max-width: 480px) {width:45px; height:45px;}
	}
}

.comment-body {
display: table;
}

.commenter-image {
padding-right: 30px;
@extend %comment-alignment;
	@media (max-width: 480px) {padding-right: 1em;}
	a {
	position: relative;
	display: inline-block;
	}
}

.commenter-details {
@extend %comment-alignment;
}

.name {
@extend %padd-marg;
color: $dark;
	a {
	color: $orange;
	font-size: 14px;
	margin-left: 8px;
		&::after {
		margin-top: -1px;
		background-color: $orange;
		}
	}
}

.timestamp {
    font-size: 13px;
    margin: 2px 0 15px;
}

.comment-text {
color: $dark;
}

/* Children comments */
.children {
margin-left: 98px;
transition: margin-left .6s cubic-bezier(0.18, 0.89, 0.38, 1.4);
	@media (max-width: 768px) {margin-left:0;}
	li+li {
	@extend .children;
	}
}

/* Comment connector */
.connector {
display: inherit;
pointer-events: none;
border: 1px solid $lightgrey;
border-right: 0;
border-top: 0;
position: absolute;
height: 100%;
width: 64px;
right: 100%;
bottom: 50%;
border-bottom-left-radius: 40px;
background-clip: padding-box;
	@media (max-width: 768px) {display: none;}
}
