@import "main", "_mob-menu";

.item {
width: 100%;
display: flex;
	@media (max-width: 900px) {flex-wrap: wrap;}
	aside {
	@media (min-width: 900px) {width: 426px; margin-right: 5%;}
		h1 {margin-top: 0;}
		h2 {
		font-size: 1.2em;
		color: $dark;
		}
		h4 {
		font-size: 0.9em;
		text-transform: uppercase;
		}
		p {line-height: 1.5;}
	}
}

.customer {
	display: block;
	width: 100%;
	max-width: 420px;
	margin: 0 auto;
}

.review {
@extend %padd-marg;
	p {
	font-size: 0.9em;
	line-height: calcFluidSize(14, 33, 320, 1920);
		&::before {
		    content: '';
			display: inline-block;
			background: url(../images/open-quote.svg) no-repeat center 0/cover;
			width: calcFluidSize(18, 45, 320, 1920);
			height: calcFluidSize(12, 30, 320, 1920);
			margin-right: 3.6%;
		}
	}
	h5 {
	margin: 2vmin 0 0;
	@extend h4;
	}
}

.mocaps {
@media (min-width: 901px) {max-width: 75%;}
@media (max-width: 900px) {text-align: center; margin-top: 4vmin;}
	ul {
	columns: auto 2;
		@media (max-width: 540px) {column-count: auto;}
	}
	li {
	display: inline-block;
	vertical-align: top;
	background: $portfolio_bg;
	padding: 2vmin;
	//margin-right: 1em;
    margin-bottom: 1em;
		img {
		max-height: 44vmin;
		max-width: 100%;
		}
	}
}