$dark: #373737;
$lightgrey: #8a8a8a;
$darkgrey: #69696b;
$white: #fff;
$orange: #fcb117;
$portfolio_bg: #ececec;

	//Social icons
$facebook: #3b5998;
$linkedIn: #0077b5;
$instagram: #CE2A51;
$upwork: #37a000;