.messenger {
  bottom: 0;
  font-size: 16px;
  position: fixed;
  right: 10px;
  z-index: 9999; 

  .rolled-up {
    background: #0d8bcd;
    border-radius: 4px 4px 0 0;
    color: #fff;
    padding: 10px 30px 10px 20px;
    &.opened {
      visibility: hidden;
    }
    p{
      margin: 0;
    }
  }

  .expanded {

    &.opened {
      visibility: visible;
    }
  }

  .open-close-btn {
    cursor: pointer;
    height: 25px;
    position: absolute;
    right: 0;
    top: 3px;
    width: 25px;

    svg.arrow { 
      height: 15px;
      left: 5px;
      transform: rotate(90deg);
      position: relative;
      top: 8px;
      width: auto;   
      path {
        fill: transparent;
        stroke: white;
        stroke-width: 35;    		
      }
      &.opened {
        transform: rotate(-90deg);
        path {
          stroke: rgba(67, 67, 67, .7);
        }
      }		 
    }    
  }
}
 