.content {
	text-align: center;
	figure {
		position: relative;
		background: #ececec;
		padding: 1.67vmin 3.5vmin;
		margin: 0 auto;
		@extend %padd-marg;
		//Show figcaption on hover and on focus
		&:hover > figcaption {
			opacity: 1;			
		}
		img {
			width: 100%;
			height: auto;
		}
	}
	//Figcaption grey block
	figcaption {
		align-items: center;
		background-color: rgba(243, 243, 243, 0.9);
		display: inline-flex;
		flex-direction: column;	
		justify-content: center;		
		opacity: 0;		
		position: absolute;
		right: 0; bottom: 0;
		top: 0; left: 0;
		transition: opacity 250ms ease-in-out;				
		//Figcaption content
		h3 {
			font-size: calcFluidSize(16, 34, 320, 1920);
			@extend %padd-marg;
		}
		.link {
			font-size: calcFluidSize(14, 20, 320, 1920);
			color: $white;
			display: inline-block;
			max-width: 100%;
			background: #fcb117;
			padding: 1% 4.2%;
			@extend %nowrap;
		}
		.descr {
			max-width: 100%;
			font-size: calcFluidSize(14, 18, 320, 1920);
			@extend %nowrap;
		}
		h5 {
			text-transform: uppercase;
			font-size: calcFluidSize(14, 22, 320, 1920);
		}
	}
	.custom-items {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		height: auto;		
		.custom-item {
			margin-bottom: 10px;
			width: 30%;
			figure {
				picture {
					display: block;
					z-index: 1;
				}
				figcaption {
					z-index: -1;
				}
				&:hover > figcaption {
			//		z-index: 2;
				}
				&.hovered > figcaption {
					opacity: 1;
					z-index: 2;
				} 

			}
			@media (max-width:1150px) {
				width: 45%;
			}			
			@media (max-width:736px) {
				width: 70%;
			}
			@media (max-width:650px) {
				width: 90%;
			}
			@media (max-width:480px) {
				width: 100%;
			}			
		}
		@media (max-width:480px) {}
	}	
}