.top {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	padding-bottom: 7.5vmin;
	article {
		flex-basis: 100%;
		margin-right: 40%;
		h1, h2 {
			@extend %padd-marg;
		}
		@media (max-width: 736px) {
			margin-right: 0;
		}
	}
	nav {

		ul {
			display: inline-flex;
			justify-content: center;
			flex-wrap: wrap;
			width: 100%;
			li {
				margin-left: 40px;
				margin-top: 10px;
				@media (max-width:736px) {
					margin-left: 5px;
				}
			}
			li:first-child {
				margin-left: 0px;
			}
			@media (max-width:736px) {
				justify-content: space-around;
				margin-top: 10px;
			}
		}
		@media (max-width:736px) {
			flex-basis: 100%;
		}
	}
	.underline {
		&:hover {color: $orange;}
		&::after {background: $orange;}
	}
}