.top {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 7.5vmin;
	article {
	flex: 0 1 50%;
		h1, h2 {
		@extend %padd-marg;
		}
		@media (max-width:720px) {flex-grow:1;}
	}
	nav {
		ul {
		display: inline-flex;
		justify-content: flex-end;
		flex-wrap: wrap;
		width: 100%;
		margin-top: 2.66em;
			li {
				&+li {
				margin-left: 40px;
				}
			@media (max-width:720px) {line-height: 1.4;}
			}
		@media (max-width:720px) {margin-top: 10px;}
		}
	}
	.underline {
		&:hover {color: $orange;}
		&::after {background: $orange;}
	}
}