//@import "main.scss", "mob-menu.scss";
@import "vars";

.about {
    padding: 11.4vmin 6% 16.3vmin 6%;
	@media (max-width:1100px) {
	//	padding-right: 6%;
	}
}

.top {
	padding-bottom: 7.5vmin;
}

.content {
	display: flex;
	@media (max-width:1100px) {
		flex-wrap: wrap;
		justify-content: space-around;
	}
	picture {
		flex-basis: 90%;
		border: none;
		display: block;
		@media (max-width:1100px) {
			margin: 0;
		}
		img {
			display: block;
			margin: 0;
			height: 100%;
			padding: 0;
			width: 100%;
		}
	}
	article {
		background-color: #eee;
		padding: 1.58em 1.12em;
		font-size: calcFluidSize(16, 36, 320, 1920);
		color: $darkgrey;
	}
}