//@import "main", "mob-menu", "details", "top";
@import "vars";

%li-padding {
padding: 5px 0;
}

.content {
display: flex;
flex-wrap: wrap;
	>ul {
	flex: 1 1 70%;
		@media (max-width:1100px) {flex-basis: auto;} //Fix for Safari
		li {
		margin-bottom: 6.5%;
		}
	}
	figure {
	display: inline-flex;
	@extend %padd-marg;
	@media (max-width: 580px) {flex-wrap: wrap;}
		img {
		width: 100%;
		}
		h2 {
		@media (min-width: 580px) {margin: 0 0 3.3%;}
		}
	}
}

.leftbox {
    max-width: 335px;
    flex: 1 0 50%;
}

.post {
padding: 0 3.3%;
}

/* Sidebar */
.sidebar {
flex: 1 1 14.2%;
min-width: 262px;
//Search form
	form {position: relative;}
	[type="search"] {
	background: $portfolio_bg;
	font-size: 15px;
	padding: 6px 40px 6px 12px;
	height: 42px;
	width: 100%;
	-webkit-appearance: none;
	@extend %form_element;
		&::-webkit-search-cancel-button {display: none;}
	}
}

.go {
	font-size: 14px;
	font-weight: 700;
	position: absolute;
    right: 15px;
    top: 0;
	height: 42px;
	@extend %pointer;
	@extend %form_element;
}

//Instagram thumbnails
.instathumbs {
display: flex;
flex-wrap: wrap;
margin: 0 -5px;
	li{
	flex-basis: 25%;
    padding: 5px;
	}
	img {
	width: 100%;
	transition: all 250ms ease-in-out;
		&:hover {filter: opacity(0.7);}
	}
}

//Tags
.tagcloud {
font-size: 13px;
color: $dark;
	li {
	display: inline-block;
	margin: 5px 8px 3px 0;
		a {
		display: inline-block;
		padding: 4px 8px;
		background: $portfolio_bg;
		transition: all 250ms ease-in-out;
			&:hover {background: $portfolio_bg * 0.9;}
		}
	}
}

//Categories
.categories {
	li {@extend %li-padding;}
	a {color: $darkgrey;}
}

//Comments
.comments {
	li {
	@extend %li-padding;
		&+li {
		border-top: 1px solid $portfolio_bg;
		margin-top: 5px;
		}
	}
	a {
	display: block;
	font-size: 15px;
	color: $dark;
	}
}

//Latest posts
.latest_posts {
	li {
	@extend %li-padding;
		&+li {margin-top: 10px;}
	}
}
