.content figure {
  padding: 0;
  margin: 0; }

.sidebar [type="search"], .go {
  font-family: inherit;
  border: none;
  outline: none;
  background: none;
  padding: 0; }

.go {
  cursor: pointer; }

.categories li, .comments li, .latest_posts li {
  padding: 5px 0; }

.content {
  display: flex;
  flex-wrap: wrap; }
  .content > ul {
    flex: 1 1 70%; }
    @media (max-width: 1100px) {
      .content > ul {
        flex-basis: auto; } }
    .content > ul li {
      margin-bottom: 6.5%; }
  .content figure {
    display: inline-flex; }
    @media (max-width: 580px) {
      .content figure {
        flex-wrap: wrap; } }
    .content figure img {
      width: 100%; }
    @media (min-width: 580px) {
      .content figure h2 {
        margin: 0 0 3.3%; } }

.leftbox {
  max-width: 335px;
  flex: 1 0 50%; }

.post {
  padding: 0 3.3%; }

/* Sidebar */
.sidebar {
  flex: 1 1 14.2%;
  min-width: 262px; }
  .sidebar form {
    position: relative; }
  .sidebar [type="search"] {
    background: #ececec;
    font-size: 15px;
    padding: 6px 40px 6px 12px;
    height: 42px;
    width: 100%;
    -webkit-appearance: none; }
    .sidebar [type="search"]::-webkit-search-cancel-button {
      display: none; }

.go {
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  right: 15px;
  top: 0;
  height: 42px; }

.instathumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px; }
  .instathumbs li {
    flex-basis: 25%;
    padding: 5px; }
  .instathumbs img {
    width: 100%;
    transition: all 250ms ease-in-out; }
    .instathumbs img:hover {
      filter: opacity(0.7); }

.tagcloud {
  font-size: 13px;
  color: #373737; }
  .tagcloud li {
    display: inline-block;
    margin: 5px 8px 3px 0; }
    .tagcloud li a {
      display: inline-block;
      padding: 4px 8px;
      background: #ececec;
      transition: all 250ms ease-in-out; }
      .tagcloud li a:hover {
        background: #d4d4d4; }

.categories a {
  color: #69696b; }

.comments li + li {
  border-top: 1px solid #ececec;
  margin-top: 5px; }

.comments a {
  display: block;
  font-size: 15px;
  color: #373737; }

.latest_posts li + li {
  margin-top: 10px; }
