.share h4 {
  display: table-cell;
  vertical-align: middle; }

.name {
  padding: 0;
  margin: 0; }

.post-title strong {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.comment-form input, .comment-form textarea, .comment-form .submit {
  font-family: inherit;
  border: none;
  outline: none;
  background: none;
  padding: 0; }

.comment-form .submit {
  cursor: pointer; }

aside img, .comment img {
  border-radius: 50%; }

.postImg {
  width: 100%;
  height: auto; }

header {
  position: absolute;
  top: 0; }
  header .underline {
    color: #fcb117; }

/* Main content */
.post {
  display: flex;
  padding-bottom: 0; }
  @media (max-width: 768px) {
    .post {
      flex-wrap: wrap-reverse; } }
  .post article {
    padding: 0 15px; }
    .post article > p {
      margin: 0 0 0.5em; }
  .post blockquote {
    display: table;
    position: relative;
    font-size: calc( 0.0025 * 100vw + 15.2px);
    line-height: 1.5em;
    padding: 0 1.1em;
    margin: 0 0 1em; }
    .post blockquote::before {
      content: "";
      display: inline-block;
      position: absolute;
      left: 0;
      width: 3px;
      height: 100%;
      background: #fcb117; }

.attachment.right {
  float: right;
  margin: 0 0 15px 15px; }
  @media (max-width: 580px) {
    .attachment.right {
      margin-left: 0; } }

.attachment.left {
  float: left;
  margin: 0 15px 15px 0; }
  @media (max-width: 580px) {
    .attachment.left {
      margin-right: 0; } }

.attachment img {
  max-width: 280px; }
  @media (max-width: 580px) {
    .attachment img {
      max-width: 100%; } }

.attachment p {
  font-size: 12px;
  margin: -5px 0 0;
  padding: 5px 10px;
  background: #ececec; }

/* Share */
.share {
  display: table;
  padding-bottom: 2em; }
  .share a {
    display: inline-block;
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #ececec;
    transition: .2s ease-in-out; }
    .share a:hover {
      background: #d4d4d4; }

.social-links {
  color: #373737; }
  .social-links * {
    display: inline-block; }
  .social-links li {
    margin-left: 10px; }
  .social-links .icon {
    display: block;
    font-size: 14px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%); }

/* Bottom bar */
.bottom-bar {
  padding: 2em 6%; }

.post-controls a {
  display: inline-flex;
  align-items: center; }
  .post-controls a:hover .post-title strong {
    color: #fcb117; }
  .post-controls a:hover .arrow svg {
    fill: #fcb117; }

.next-post {
  flex-direction: row-reverse;
  text-align: right;
  float: right; }

.next {
  transform: scaleX(-1); }

.post-title {
  margin: 0 20px; }
  .post-title em {
    display: block;
    font-size: 14px; }
  .post-title strong {
    display: inline-block;
    font-size: 19px;
    color: #373737;
    font-weight: 400;
    max-width: calc( 0.3125 * 100vw + 100px); }

/* Aside */
aside {
  flex: 1 0 160px;
  padding: 0 15px; }
  aside img {
    width: 100px;
    height: 100px;
    object-fit: cover; }
    @media (max-width: 480px) {
      aside img {
        width: 60px;
        height: 60px; } }

.author {
  font-size: 16px;
  color: #373737;
  margin-bottom: 0; }

.role, .details {
  font-size: 14px; }

.category .underline {
  color: inherit; }

.commenter-image, .commenter-details {
  display: table-cell;
  vertical-align: top; }

.comments {
  background: #ececec;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px; }
  .comments:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 40px 0 0;
    border-color: #fff transparent transparent transparent;
    position: absolute;
    top: 0;
    right: 100px; }

.comment {
  margin: 30px 0; }
  .comment img {
    width: 68px;
    height: 68px;
    object-fit: cover;
    position: relative;
    z-index: 1; }
    @media (max-width: 480px) {
      .comment img {
        width: 45px;
        height: 45px; } }

.comment-body {
  display: table; }

.commenter-image {
  padding-right: 30px; }
  @media (max-width: 480px) {
    .commenter-image {
      padding-right: 1em; } }
  .commenter-image a {
    position: relative;
    display: inline-block; }

.name {
  color: #373737; }
  .name a {
    color: #fcb117;
    font-size: 14px;
    margin-left: 8px; }
    .name a::after {
      margin-top: -1px;
      background-color: #fcb117; }

.timestamp {
  font-size: 13px;
  margin: 2px 0 15px; }

.comment-text {
  color: #373737; }

/* Children comments */
.children, .children li + li {
  margin-left: 98px;
  transition: margin-left 0.6s cubic-bezier(0.18, 0.89, 0.38, 1.4); }
  @media (max-width: 768px) {
    .children, .children li + li {
      margin-left: 0; } }

/* Comment connector */
.connector {
  display: inherit;
  pointer-events: none;
  border: 1px solid #8a8a8a;
  border-right: 0;
  border-top: 0;
  position: absolute;
  height: 100%;
  width: 64px;
  right: 100%;
  bottom: 50%;
  border-bottom-left-radius: 40px;
  background-clip: padding-box; }
  @media (max-width: 768px) {
    .connector {
      display: none; } }

.reply {
  padding: 3em 6%;
  max-width: 1200px;
  margin: 0 auto; }
  @media (max-width: 768px) {
    .reply {
      padding-top: 1em;
      padding-bottom: 1em; } }
  .reply h3 {
    font-size: 1.45em;
    font-weight: 500; }
    @media (max-width: 768px) {
      .reply h3 {
        margin: 0; } }

/* Comment form */
.comment-form {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  /* Text inputs */
  /* Textarea */
  /* Submit button */ }
  .comment-form input {
    width: 100%;
    font-size: 1.03em;
    line-height: 2em;
    border-bottom: 1px solid #ececec; }
  .comment-form label {
    flex-basis: 30%;
    position: relative;
    margin-bottom: 2.6em; }
    @media (max-width: 680px) {
      .comment-form label {
        flex-basis: 100%; } }
    .comment-form label::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 48px;
      height: 1px;
      background: #fcb117;
      transition: width .25s ease-in-out; }
  .comment-form textarea {
    resize: vertical;
    min-height: 114px;
    font-size: 1.03em;
    margin: 1.8em 0 3em;
    width: 100%;
    height: 288px;
    line-height: 48px;
    background: linear-gradient(to left, #fff 0, transparent 0) repeat-y local 0 0/100% 100%, linear-gradient(to right, #fff 0, transparent 0) repeat-y local 0 0/100% 100%, linear-gradient(#fff 47px, #ececec 47px, #ececec 48px, #fff 48px) repeat-y local 0 0/100% 48px; }
    @media (max-width: 1400px) {
      .comment-form textarea {
        height: 228px;
        line-height: 38px;
        background: linear-gradient(to left, #fff 0, transparent 0) repeat-y local 0 0/100% 100%, linear-gradient(to right, #fff 0, transparent 0) repeat-y local 0 0/100% 100%, linear-gradient(#fff 37px, #ececec 37px, #ececec 38px, #fff 38px) repeat-y local 0 0/100% 38px; } }
  .comment-form .submit {
    text-transform: capitalize;
    font-size: 1em;
    color: #fcb117;
    margin-left: auto;
    padding: 0.6em 1.8em; }
    @media (max-width: 680px) {
      .comment-form .submit {
        margin-right: auto;
        width: 100%; } }
  .comment-form ::-webkit-input-placeholder {
    color: #373737; }
  .comment-form :-moz-placeholder {
    color: #373737; }
  .comment-form ::-moz-placeholder {
    color: #373737; }
  .comment-form :-ms-input-placeholder {
    color: #373737; }
  .comment-form ::placeholder {
    color: #373737; }
