//@import "main", "mob-menu", "details", "top";
@import "vars";

%li-padding {
padding: 5px 0;
}

.content {
  display: flex;
  flex-wrap: wrap;
  .custom-items {
    flex: 1 1 75%;
    .custom-item {
      margin-bottom: 6.5%;
    }
    @media (max-width:1100px) { flex-basis: 100%; }
  }

  figure {
    display: flex;
    @extend %padd-marg;
    @media (max-width: 580px) {
      flex-wrap: wrap;
    }
    .leftbox {
      align-self: center;
      flex: 1 0 40%;
      height: calc(88vw * 0.75 * 0.4 * ( 250 / 445));
      overflow: hidden;
      position: relative;
      picture {
        display: block;
        img {
          display: block;
          width: 100%;
        }
      }
      @media (max-width:1100px) { height: calc(88vw * 1 * 0.4  * ( 250 / 445 )); }
      @media (max-width:580px) {
        height: calc(88vw * 1 * 1  * ( 250 / 445 ));
        margin-bottom: 10px;
      }
    }
    .post {
      padding: 0 3.3%;
      h2 {
        max-width: calc( 88vw * 0.75 * 0.6 - 10vw);
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        @media (max-width:1100px) { max-width:  calc( 88vw * 1 * 0.6 - 10vw); }
        @media (max-width: 580px) { max-width: calc( 88vw * 1 * 1 - 10vw); }
      }
      .post-text {
        line-height: 1.2em;
        height: calc(1.2em * 4);
        overflow: hidden;
      }
      @media (max-width: 580px) { padding: 0; }
    }
  }
}

.category {
  margin-bottom: 0;
}

/* Sidebar */
.sidebar {
  flex: 1 1 25%;
//  min-width: 262px;
  //Search form
  form { position: relative; }
  [type="search"] {
    background: $portfolio_bg;
    font-size: 15px;
    height: 42px;
    padding: 6px 40px 6px 12px;
    width: 100%;
    -webkit-appearance: none;
    @extend %form_element;
    &::-webkit-search-cancel-button { display: none; }
  }
}

.go {
	font-size: 14px;
  font-weight: 700;
	height: 42px;
	position: absolute;
  right: 15px;
  top: 0;
	@extend %pointer;
	@extend %form_element;
}

//Instagram thumbnails
.instathumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
	li {
    flex-basis: 23%;
    height: calc( (88vw * 0.25 + 10px) *  0.23 );
    margin: 0 0 2% 0;
    overflow: hidden;
    position: relative;
    a {
      display: block;
      height: 100%;
      picture {
        display: block;
        height: 100%;
        img {
          display: block;
          height: auto;
          left: 50%;
          position: relative;
          top: 50%;
          transform: translate(-50%, -50%);
          transition: all 250ms ease-in-out;
          width: 100%;
          &:hover { filter: opacity(0.7); }
        }
      }
    }
    // overwrite original from spinner.scss
    .pic-loading .spinner {
      height: 60px;
      width: 60px;
    }
    @media (max-width:1100px) { height: calc((88vw * 1 + 10px) * 0.23); }
	}
}

//Tags
.tagcloud {
font-size: 13px;
color: $dark;
	li {
	display: inline-block;
	margin: 5px 8px 3px 0;
		a {
		display: inline-block;
		padding: 4px 8px;
		background: $portfolio_bg;
		transition: all 250ms ease-in-out;
			&:hover {background: $portfolio_bg * 0.9;}
		}
	}
}

//Categories
.categories {
	li { @extend %li-padding; }
	a { color: $darkgrey; }
}

//Comments
.comments {
	li {
	@extend %li-padding;
		&+li {
      border-top: 1px solid $portfolio_bg;
      margin-top: 5px;
		}
	}
	a {
    display: block;
    font-size: 15px;
    color: $dark;
	}
}

//Latest posts
.latest_posts {
	li {
	  @extend %li-padding;
		&+li { margin-top: 10px; }
	}
}
