@import "main", "logo", "mob-menu"; 

.start {
	height: 70vh;
	width: 100%;
	color: $white;
		#map {
			border: none;
			height: 100%;
			width: 100%;
		}
}

header {
	position: absolute;
	z-index: 1;
	.underline::after {
		background-color: #fafaff;
	}
}

.contact {
	padding: 5% 6% 3em;
	display: flex;
	@media (max-width: 900px) {
		flex-wrap: wrap;
	}
	@media (min-width: 1400px) {
		padding: 5% 15% 3em;
	}
	//Text block
	.text {
		color: $darkgrey;
		flex-basis: 35%;
		flex-grow: 1;
		padding: 0 3% 1em 0;
		.contacts {
			font-size: 1em;
		}
		.underline {
			color: $orange;
			margin-bottom: 10px;
			&::after {
				background-color: $orange;
				margin-top: 0;
			}
		}
		p {
			line-height: 1.5;
			@extend %padd-marg;
		}
	}
	//Contact form
	form {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		justify-content: space-between;
		height: 100%;
		div.inputs {
			display: flex;
			flex-basis: 100%;
			flex-wrap: wrap;
			margin-bottom: 1.8em;
			label {
				box-sizing: content-box;
				flex-basis: 47%;
				@media (max-width: 900px) {
					flex-basis: 60%;
				}	
				&::after {
					bottom: 0;
					top: auto;
					width: 48px;
				}
			}
			label:first-child {
				margin-right: 6%;
			}
		}		
		label {
			flex-basis: 100%;
			height: 100%;
			position: relative;
			&::after {
				content: "";
				display: block;
				position: absolute;
				top: 37px;
				left: 0;
				width: 80px;
				height: 1px;
				background: $orange;
				transition: width .25s ease-in-out;
			}
		}
		//Text inputs		
		input:not([type="submit"]) {
			border-bottom: 1px solid $portfolio_bg;
			border-radius: 0;
			display: block;
			font-size: 1em;
			height: 100%;
			padding: 0.5em 0;
			width: 100%;		
			@extend %form_element;
		}
		//Textarea
		textarea {
			resize: vertical;
			min-height: 38px * 3;
			font-size: 1em;
			margin: 0 0 3em;
			width: 100%;
			@extend %form_element;
			@include textarea(38px);
		}
	//Submit button
		[type="submit"] {
			text-transform: capitalize;
			font-size: 0.88em;
			color: $white;
			background: $darkgrey;
			margin-left: auto;
			padding: 0.6em 1.8em;
			@extend %pointer;
			@extend %form_element;
		}
		[type="submit"]:hover {
			background: $orange;
		}
	}
}

::placeholder {color:$dark;}