.review {
  padding: 0;
  margin: 0; }

.item {
  width: 100%;
  display: flex; }
  @media (max-width: 930px) {
    .item {
      flex-wrap: wrap; } }
  .item aside h1 {
    margin-top: 0; }
  .item aside h2 {
    font-size: 1.2em;
    color: #373737; }
  .item aside h4, .item aside .review h5, .review .item aside h5 {
    font-size: 0.9em;
    text-transform: uppercase; }
  .item aside p {
    line-height: 1.5; }
    .item aside p a {
      color: #387894;
      display: block; }
    .item aside p a:hover {
      text-decoration: underline; }
  @media (min-width: 930px) {
    .item aside {
      margin-right: 5%;
      width: 426px; } }

.customer {
  display: block;
  width: 100%;
  max-width: 420px;
  margin: 0 auto; }

.review p {
  font-size: 0.9em;
  line-height: calc( 0.01188 * 100vw + 10.2px); }
  .review p::before {
    content: '';
    display: inline-block;
    background: url(../images/icons/open-quote.z.svg) no-repeat center 0/cover;
    width: calc( 0.01688 * 100vw + 12.6px);
    height: calc( 0.01125 * 100vw + 8.4px);
    margin-right: 3.6%; }

.review h5 {
  margin: 2vmin 0 0; }

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .skills li {
    background-color: #eee;
    border-radius: 50%;
    font-size: 10px;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    margin-bottom: 5px;
    margin-right: 5px;
    text-align: center;
    width: 50px; }

@media (min-width: 930px) {
  .mocaps {
    max-width: 75%; } }

.mocaps ul {
  display: flex;
  flex-wrap: wrap; }

.mocaps li {
  flex-basis: 50%; }
  @media (max-width: 750px) {
    .mocaps li {
      flex-basis: 100%; } }
  .mocaps li img {
    width: 100%; }
