@import "main.scss", "mob-menu";

.item {
width: 100%;
display: flex;
	@media (max-width: 900px) {flex-wrap: wrap;}
	aside {
	@media (min-width: 900px) {width: 426px; margin-right: 5%;}
		h1 {margin-top: 0;}
		h2 {
		font-size: 1.2em;
		color: $dark;
		}
		h4 {
		font-size: 0.9em;
		text-transform: uppercase;
		}
		p {line-height: 1.5;}
	}
}

.customer {
	display: block;
	width: 100%;
	max-width: 420px;
	margin: 0 auto;
}

.review {
@extend %padd-marg;
	p {
	font-size: 0.9em;
	line-height: calcFluidSize(14, 33, 320, 1920);
		&::before {
		    content: '';
			display: inline-block;
			background: url(../images/icons/open-quote.z.svg) no-repeat center 0/cover;
			width: calcFluidSize(18, 45, 320, 1920);
			height: calcFluidSize(12, 30, 320, 1920);
			margin-right: 3.6%;
		}
	}
	h5 {
	margin: 2vmin 0 0;
	@extend h4;
	}
}

.skills {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	li {
		margin-right: 3px;
	}
}

.mocaps {
@media (min-width: 901px) {max-width: 75%;}
//@media (max-width: 900px) {text-align: center; margin-top: 4vmin;}
	ul {
		display: flex;
		flex-wrap: wrap;
	}
	li {
//		flex-basis: 30%;
//		margin-right: 1%;
		flex-basis: 50%;
		@media (max-width: 750px) {
			flex-basis: 100%;
		}
		img {
			width: 100%;
		}
	}
}