#logo {
  width: 18vmin;
  max-width: 150px;
  height: auto;
  max-height: 91px;
  /* Hover */ }
  #logo path {
    fill: rgba(255, 255, 255, 0.5);
    stroke-width: 27;
    transition: fill .4s ease; }
  #logo:hover path[id^="letter"], #logo:hover #bottom_grey {
    fill: #616267; }
  #logo:hover #top_orange {
    fill: #fcb117; }
