@import "vars";

#logo {
	width: 18vmin;
	max-width: 150px;
	height: auto;
	max-height: 91px;
	path {
		fill: rgba(255,255,255,0.5);
		stroke-width: 27;
		transition: fill .4s ease;
	}
	/* Hover */
	&:hover {
		path[id^="letter"], #bottom_grey {
			fill: #616267;
		}
		#top_orange {
			fill: $orange;
		}
	}
}