@import 'vars';

@font-face {
	font-family: 'CenturyGothicBold';
	src: url('../fonts/CenturyGothicBold.ttf') format('truetype'),
		url('../fonts/CenturyGothicBold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "functionpro_book";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/functionpro_book.ttf") format("truetype"),
		url("../fonts/functionpro_book.woff") format("woff"),
		url("../fonts/functionpro_book.woff2") format("woff2");
	unicode-range: U+20-126, U+161-255, U+338-339, U+376, U+710, U+732, U+2019, U+201C-201E, U+8192-8202, U+8208-8212, U+8216-8218, U+8220-8222, U+8226, U+8230, U+8239, U+8249-8250, U+8287, U+8364, U+8482, U+9724, U+64257-64258, U+FFEB;
}

@font-face {
	font-family: "functionpro_medium";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/functionpro_medium.ttf") format("truetype"),
		url("../fonts/functionpro_medium.woff") format("woff"),
		url("../fonts/functionpro_medium.woff2") format("woff2");
	unicode-range: U+20-126, U+161-255, U+338-339, U+376, U+710, U+732, U+2019, U+201C-201E, U+8192-8202, U+8208-8212, U+8216-8218, U+8220-8222, U+8226, U+8230, U+8239, U+8249-8250, U+8287, U+8364, U+8482, U+9724, U+64257-64258, U+FFEB;
}

// scroll bar
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 4px;
}
::-webkit-scrollbar-track {
  background-color: rgba(206, 206, 206, .6);
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(130, 130, 130, 1);
  border-radius: 8px;
}

* {
	box-sizing: border-box;
    &::selection {
		background: $orange;
	    color: $white;
	}
	img::selection {
		background: none;
	}
}

html, body {
  color: $lightgrey;
	font-family: "functionpro_book", sans-serif;
	font-size: calcFluidSize(15, 20, 320, 1920); /* Fluid font-size */
	height: auto;
  min-width: 320px;
  position: relative;
	@extend %padd-marg;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

a {
	text-decoration:none;
	color: inherit;
}

ul {
	list-style: none;
	@extend %padd-marg;
}

h1,h2,h3,h4,h5,h6 {
	color:$dark;
}

.logo {
	width: 18vmin;
	max-width: 150px;
	height: auto;
	max-height: 91px;
}

.start {
	display: block;
	color: $darkgrey;
	background: $white;
}

header {
	width: 100%;
	padding: 6.2vmin 6% 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	nav {
		li {
		display: inline-block;
			@media (min-width:901px) {
			&+li {margin-left: calcFluidSize(16, 40, 900, 1920);}
			}
		}
	}
}

main {
	background: $white;
	section {
		padding: 12.2vmin 6%;
	}
}

h1, h2 {
	font-family: 'functionpro_medium', sans-serif;
	font-size: 1.4em;
	font-weight: 500;
}

.showmore {
	font-family: inherit;
	font-size: calcFluidSize(12, 22, 320, 1920);
	text-transform: uppercase;
	color: $white;
	border: none; outline: none;
	display: block;
	margin: 1.7vmin auto 0;
    padding: 1.45% 2.98%;
	background: $darkgrey;
	cursor: pointer;
}

//Underlining menu items
.underline {
	display: inline-block;
	&::after {
//		background-color: $darkgrey;
		content: "";
		display: block;
		height: 1px;
		margin: 1px auto 0 0;
		transition: width .25s ease-in-out;
		width: 0;
	}
	&:hover {
		cursor: pointer;
	}
	&:hover::after {width: 100%;}
}

.active.underline::after {
	background: $orange;
	width: 100%;
}

.hidden {
	display: none;
}

.noscroll {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

@import "footer";