.content figure {
  padding: 0;
  margin: 0; }

.top {
  padding: 0 6% 7.5vmin; }

.team {
  width: 100%;
  padding: 12.2vmin 0 6.2vmin; }
  .team button {
    background: #fcb117;
    padding: 2px 5px;
    margin: 7px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #fcb117; }

.content {
  margin: 0 52px; }
  .content ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    .content ul li {
      text-align: center;
      margin-bottom: 6vmin; }
  .content figure {
    position: relative;
    display: inline-block; }
    .content figure:hover > figcaption {
      opacity: 1; }
  .content figcaption {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    background-color: rgba(243, 243, 243, 0.9);
    transition: opacity 250ms ease-in-out; }

.staff {
  width: calc( 0.19875 * 100vw + 96.4px);
  height: auto; }
  @media (max-width: 550px) {
    .staff {
      width: 100%; } }

.blur {
  filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.5); }

.wrap-popup {
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  z-index: 9;
  filter: blur(2px); }

.popup-resume {
  background-color: #fff;
  bottom: 5%;
  display: none;
  filter: progid:none !important;
  -webkit-filter: none !important;
  filter: none !important;
  width: 60%;
  overflow: hidden;
  position: fixed;
  right: 20%;
  top: 5%;
  z-index: 100; }
  @media (max-width: 680px) {
    .popup-resume {
      right: 10%;
      width: 80%; } }
