.top article h1, .top article h2 {
  padding: 0;
  margin: 0; }

.top {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding-bottom: 7.5vmin; }
  .top article {
    flex-basis: 100%;
    margin-right: 40%; }
    @media (max-width: 736px) {
      .top article {
        margin-right: 0; } }
  .top nav ul {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%; }
    .top nav ul li {
      margin-left: 40px;
      margin-top: 10px; }
      @media (max-width: 736px) {
        .top nav ul li {
          margin-left: 5px; } }
    .top nav ul li:first-child {
      margin-left: 0px; }
    @media (max-width: 736px) {
      .top nav ul {
        justify-content: space-around;
        margin-top: 10px; } }
  @media (max-width: 736px) {
    .top nav {
      flex-basis: 100%; } }
  .top .underline:hover {
    color: #fcb117; }
